#navbar {
    background-color: #090909;
    width: 100%;
    overflow: hidden;
}

.navbar-item {
    padding: 0 0 0 16px;
}
#navbar > a {
    padding: 13px 8px 13px 8px;
    display: inline-block;
    
}
#navbar a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

#navbar-right {
    margin-left: auto;
    padding: 13px 16px 13px 8px !important;
}

.navbar-right {
    float: right;
}
.navbar-left {
    float: left;
}

#dropdown #dropbtn {
    color: #ffffff;
    font-size: 16px;
    width: 150px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #292929;
    z-index: 1;
}

#dropdown-content a {
    width: 150px;
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
#dropdown:hover #dropdown-content {
    display: block;
}

#navbar a:hover, #dropdown:hover #dropbtn {
    background-color: #292929;
}

#navbar-username-dropdown {
    display: block;
    position: absolute;
    padding: 13px 8px 13px 8px;
}

#page-title {
    margin: 0;
    font-weight: bold;
    font-size: 84px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 50px;
}
.not-moodle{
    justify-content: center;
}
body{
    background-image: url('../images/hex-background.jpg'); 
    
}

#backdrop-image {
    display: grid;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    z-index: -1;
}