#navbar {
    background-color: #090909;
    height: 50px;
    width: 100%;

    display: flex;
    align-items: center;
}

#navbar-title {
    margin: 0;
    padding: 0 0 0 16px;
    color: #ffffff;
    font-weight: bold;
}

#navbar-login {
    margin: 0;
    margin-left: auto;
    padding: 0 16px 0 0;
    color: #ffffff;
    font-weight: bold;
}

#page-title {
    margin: 0;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
}