#navbar {
    background-color: #090909;
    width: 100%;
    overflow: hidden;
}

<<<<<<< HEAD
.navbar-item {
    padding: 0 0 0 16px;
}
#navbar > a {
    padding: 13px 8px 13px 8px;
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

#navbar-right {
    margin-left: auto;
    padding: 13px 16px 13px 8px !important;
}
#navbar-home {
    padding: 13px 16px 13px 16px !important;
}

#navbar-username-dropdown {
    display: block;
    position: absolute;
    padding: 13px 8px 13px 8px;
=======
#navbar a {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#dropdown {
    overflow: hidden;
}

.navbar-right {
    float: right;
}
.navbar-left {
    float: left;
}

#dropdown #dropbtn {
    color: #ffffff;
    font-size: 16px;
    width: 150px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #292929;
    z-index: 1;
}

#dropdown-content a {
    width: 150px;
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
#dropdown:hover #dropdown-content {
    display: block;
}

#navbar a:hover, #dropdown:hover #dropbtn {
    background-color: #292929;
>>>>>>> bf2176929194f9a740ba2be1bd4ebd1178e6d228
}

#page-title {
    margin: 0;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
}

.offset-backgroundcolor {
    background-color: #FAF9F6;
}