#login-container {
    position: relative;
    width: 400px;
    height: 200px;
    margin-left: calc(50% - 200px);

    border: 1px solid #a0a0a0;
    padding: 16px 0 0 0;
    border-radius: 10px;
    box-shadow: 2px 5px #32309c24;
    background-color: #ffffff;
}

#login-container > p {
    font-weight: bold;
    margin: 0 0 0 16px;
}

#login-container > input[type=text] {
    margin: 0 0 16px 16px;
    padding: 0 0 0 8px;
    border: 1px solid #a0a0a0;
    border-radius: 10px;
    /* box-sizing: border-box; */
}

#login-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 16px 16px 0;
    border: 0;
    border-radius: 10px;
    padding: 4px 32px;
    background-color: #323232;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

#login-button:hover {
    background-color: #626262;
}