html {
    font-family: sans-serif;
}
body {
    margin: 0;
    background-image: url('./../images/hex-background.jpg');
    background-color: #111111; 
}
#form-message {
    color: Red;
}
.hidden {
    visibility: none;
}