@page
@model CourseModel
@{
    ViewData["Title"] = "Courses";
    ViewData["ContentTitle"] = "Courses";
}

<div id="courses">
</div>

@section styles {
    <link rel="stylesheet" href="~/css/courses.css" asp-append-version="true" />
}

@section scripts {
    <script src="~/js/courses.js"></script>   
}