@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
    ViewData["ContentTitle"] = "Login";
}

<div id="login-container">
    <p class="label"> Username </p>
    <input id="username-input" type="text">
    <p class="label"> Password </p>
    <input id="password-input" type="text">

    <input type="button" id="login-button" value="Login" onclick="handleLogin();">

    <p id="form-message" class="hidden"></p>
</div>

@section styles {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}

@section scripts {
    <script src="~/js/login.js"></script>   
}